<div class="navigation-menu text-center mb-4">

    <a asp-controller="Home"
       asp-action="Index"
       class="btn btn-primary">
        Home
    </a>

    <a asp-controller="Home"
       asp-action="ContractManagement"
       class="btn btn-outline-primary">
        Contract Management
    </a>

    <a asp-controller="ServiceRequests"
       asp-action="Index"
       class="btn btn-outline-primary">
        Service Request
    </a>

    <!--
    <a asp-controller="Home"
       asp-action="CurrencyConversion"
       class="btn btn-outline-primary">
        Currency Conversion
    </a>

    <a asp-controller="Home"
       asp-action="ContactUs"
       class="btn btn-outline-primary">
        Contact Us
    </a> -->

    <a asp-controller="Home"
       asp-action="Dashboard"
       class="btn btn-outline-primary">
        Dashboard
    </a>

</div>